$backgroundColor: rgb(250, 250, 250);
$codeBackgroundColor: rgb(250, 250, 250);
$bodyColor: rgb(40, 40, 40);
$linkColor: rgb(60, 60, 80);
$bodyLinkColor: rgb(60, 60, 140);
$linkHoverColor: rgb(80, 80, 250);
$separatorColor: lighten($bodyColor, 70%);
$inlineCodeForegroundColor: rgb(80, 80, 80);
$calloutColor: #f7601b;

$pageWidth: 50rem;

$fontSizeHugeTitle: 3rem;
$bannerFontSize: 1.75rem;
$paragraphSpacing: 1.5rem;
$prePadding: 0.5rem;
$pageComponentSpacing: 4rem;
$headerVerticalSpacingTop: 1em;
$headerVerticalSpacingBottom: 0.75em;
$listVerticalSpacing: 0.5rem;
$blockQuoteFontSize: 0.9rem;
$blockQuoteLineHeight: 1.2rem;

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* re-add when ready */
canvas { display: none; }

@mixin clear-contents {
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

/* base styles */

@mixin body-font {
  // font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  // font-family: 'Vollkorn', Garamond, "Hoefler Text", serif;
  // font-family: 'Gentium Basic', Garamond, "Hoefler Text", serif;
  // font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

@mixin blockquote-font {
  // font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // font-weight: normal;
  @include body-font;
}

@mixin title-font {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  // font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@mixin title-font-2 {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  // font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin banner-font {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  // font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin mono-font {
  font-family: Inconsolata, monospace, sans-serif;
}

@mixin body-link-styles {
  color: $bodyLinkColor;
  &:hover {
    color: $linkHoverColor;
  }
}

html {
  line-height: 160%;
  @include body-font;

  background-color: $backgroundColor;
  color: $bodyColor;
}

a, a:visited, a:active {
  color: $linkColor;
}

a:hover {
  color: $linkHoverColor;
}

h1, h2, h3, h4, h5, h6 {
  @include title-font;
  margin-top: $headerVerticalSpacingTop;
  margin-bottom: $headerVerticalSpacingBottom;
  line-height: 1.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: $linkColor;
  text-decoration: none;

  &:visited, &:active, &:hover {
    color: $linkColor;
    text-decoration: underline;
  }
}

h1, h2 { font-size: 1.5rem; }
h3, h4 { font-size: 1.2rem; }
h5, h6 { font-size: 1.0rem; }
h1, h3, h5 { font-weight: bold; }
h2, h4, h6 { font-weight: normal; }

p, ul, ol, pre {
  margin-bottom: $paragraphSpacing;
}

pre, code, kbd, samp {
  @include mono-font;
  background-color: $codeBackgroundColor;
}

code {
  color: $inlineCodeForegroundColor;
}

pre {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-left: -$prePadding;
  margin-right: -$prePadding;
  padding: $prePadding $prePadding;
}

article ul {
  list-style-type: disc;
}

article li {
  padding-left: 0.5rem;
  margin-left: 1rem;
  margin-bottom: $listVerticalSpacing;

  & > ul, & > ol {
    margin-top: $listVerticalSpacing;
  }
}

article iframe, table {
  margin-bottom: $paragraphSpacing;
}

table {
  $thHorzSpacing: 2rem;

  th {
    text-align: left;
    font-weight: normal;
    padding-right: $thHorzSpacing;
    border-bottom: 1px solid $separatorColor;
  }

  td {
    padding-right: $thHorzSpacing;
  }
}

p {
  text-rendering: optimizeLegibility;
}

article blockquote {
  margin-left: 2em;
  @include blockquote-font;
  font-size: $blockQuoteFontSize;
  line-height: $blockQuoteLineHeight;
}

iframe {
  max-width: 100%;
}

.left { float: left; padding-right: 1rem; }
.right { float: right; padding-left: 1rem; }
.center { display: block; margin: auto; }

a.implied-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.entry-content a { @include body-link-styles; }

/* layout */

#pagecontainer {
  width: 100%;
  max-width: $pageWidth;
  max-width: calc($pageWidth - 2rem);
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1rem 1rem 1rem;
}

nav#menu, section#content, footer#pagefooter {
  width: 100%;
}

#sidebar {
  padding-left: 1rem;

  h3 {
    font-size: 1em;
  }
}

// banner

header#banner {
  box-sizing: border-box;
  line-height: $bannerFontSize * 1.35;
  padding: 0.75em 1em;

  h1 {
    font-size: $bannerFontSize;
    @include banner-font;
    margin: 0.75rem 0;
    display: inline-block;
  }
  
  .header-links {
    text-align: center;
  }

  .header-links a {
    margin-right: 0.5rem;
  }
}

@media (min-width: $pageWidth) {
  header#banner .header-links {
    display: block;
    float: right;
    text-align: left;
  }
}

// menu

@media (min-width: $pageWidth+28rem) {
  #layoutcontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: stretch;
    align-items: stretch;
  }

  #menu { display: none; }
  #sidebar {
    flex-grow: 0;
    flex-shrink :0;
    width: 12rem;
    padding-right: 1rem;

    h1:first-child, h2:first-child, h3:first-child {
      margin-top: 0;
    }
  }
}

#menu {
  margin-bottom: 2rem;

  ul { @include clear-contents; }

  li a, li strong {
    margin-right: 0.5rem;
  }
}

// article list

article.home-page {

  ul.article-summary-list {
    margin: 0;
    padding: 0;

    & > li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-top: 2rem;
      margin-bottom: 2rem;
      border-top: 1px solid $separatorColor;

      &:first-child {
        border-top: none;
        padding-top: 0;

        .entry-title {
          margin-top: 0;
        }
      }

      .read-more {
        text-align: right;
      }
    }
  }
}

// footer
#pagefooter {
  margin-top: $pageComponentSpacing;
  margin-bottom: 3rem;
  padding-top: 1rem;

  .social-links {
    text-align: right;
    font-size: 0.8rem;
    float: right;
  }
}

// article styling

.article-header {
  @include clear-contents;

  margin-bottom: 1rem;

  .entry-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &.article-header__index {
    h1 {
      font-size: $fontSizeHugeTitle;
      font-weight: bold;
      margin: 0;
    }
  }

  .post-info {
    time {
      display: block;
      // float: right;
      @include title-font;
    }
  }
}

// random stuff

.promo {
  .promo-group {
    margin-bottom: 4rem;

    h2 {
      text-align: center;
      width: 100%;
      margin: 0 0 1rem 0;
      padding: 0 0 1rem 0;
      // border-bottom: 1px solid $separatorColor;
    }

    .promo-group__outerlist {
      margin: 0;
      padding: 0;

      & > li {
        list-style-type: none;
      }
    }

    .promo-item__logo {
      display: block;
      margin: 0 auto 1rem auto;
      max-width: 64px;
      max-height: 64px;
      border-radius: 5px;
    }
  }

  .promo-group__opensource {
    .promo-item {
      padding: 0;
    }
  }

  .promo-group__writing {
    .promo-group__outerlist {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .promo-item {
      padding: 0;
    }

    .promo-item__title {
      font-size: 1.2rem;
    }

    .promo-item__blog {
      // flex-basis: 100%;
      // background-color: #75c7fd;
      font-weight: bold;
      // font-size: 1.2rem;
    }
  }

  .promo-group__games, .promo-group__apps {
    .promo-group__outerlist {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    .promo-item {
      flex-grow: 1;
      flex-basis: 20%;
      margin: 0 1rem 1rem 1rem;
      padding: 1rem;
      // width: 30%;
      text-align: center;
      // border: 1px solid $separatorColor;
      // border-radius: 5px;
      // background-color: white;
      // box-shadow: 2px 2px 5px 0px rgba(51,51,51,0.2);
    }
  }
}

.resume-image {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  transform: translateY(8px);
}