@import "bootstrap.less";

body {
  background-image: url("../img/type.png");
  background-image: url("../img/dark_mosaic.png");
  background-image: url("../img/black_linen_v2.png");
  background-image: url("../img/darth_stripe.png");
  background-image: url("../img/black_paper.png");
  background-image: url("../img/px_by_Gre3g.png");
  padding-top: 74px;
}

.navbar .brand {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 36px;
}

.container {
  color: white;
}

.content-box {
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  .border-radius(3px);
  margin-bottom: 20px;

  h1, h2 {
    a {
      color: white;
    }
  }

  a {
    color: white;
  }
}

.github, .blog-post {
  h2 {
    border-top: 1px solid @grayLight;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.headshot {
  margin-bottom: 20px;
  .border-radius(3px);

  img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 340px;
    .border-radius(3px);
  }
}

.quote {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  color: @grayLight;

  a {
    color: white;
  }
}
