[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.3"
blinker = "==1.4"
docutils = "==0.14"
feedgenerator = "==1.9"
ghp-import = "==0.4.1"
htmlmin = "==0.1.12"
hyphenator = "==0.5.1"
joblib = "==0.12.5"
pelican = "==3.7.1"
pelican-minify = "==0.9"
pyparsing = "==2.2.0"
python-dateutil = "==2.7.3"
pytz = "==2018.5"
six = "==1.11.0"
smartypants = "==1.8.6"
typogrify = "==2.0.7"
Jinja2 = "==2.10"
Markdown = "==2.6.6"
MarkupSafe = "==1.0"
"minchin.pelican.plugins.summary" = "==1.1.1"
Pygments = "==2.2.0"
Unidecode = "==1.0.22"

[requires]
python_version = "3.6"
