<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic&subset=latin,latin-ext' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet'>
    {# <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'> #}

    <link rel="stylesheet" href="{{ SITEURL }}/css/reset.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/css/pygments.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/css/style.css" />

    <!--
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    -->

    <script src="{{ SITEURL }}/js/hyphenate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ SITEURL }}/js/main.js"></script>

  {% endblock head %}
</head>

<body id="index" class="home">
  <div id="pagecontainer">
    <header id="banner" class="body">
      <h1>
        <a href="{{ SITEURL }}">
          <!--{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong>-->
          <!--Steve Johnson&rsquo;s<br>partial creative output-->
          Steve Johnson&rsquo;s<br>Web Presence
        </a>
      </h1>
    </header><!-- /#banner -->

    <nav id="menu">
      <ul>
        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
      </ul>
    </nav><!-- /#menu -->
    {% block content %}
    {% endblock %}
    <footer id="pagefooter" class="body">
      <div class="social-links">
        <!--
        {% if FEED_ALL_RSS %}
          <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a>
        {% endif %}
        -->
        <a href="http://github.com/irskep">GitHub</a><br>
        <a href="http://twitter.com/irskep">Twitter</a><br>
        <a href="http://www.last.fm/user/irskep">Last.fm</a><br>
      </div>
      Stephen R. Johnson<br>
      <a href="mailto:steve@steveasleep.com">steve@steveasleep.com</a><br>
      San Francisco, California
    </footer><!-- /#pagefooter -->
  </div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4517625-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
