<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <title>
      {% block title %}{{ SITENAME }}{% block moretitle %}{% endblock %}{%
      endblock title %}
    </title>

    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />

    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link
      href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
      type="application/atom+xml"
      rel="alternate"
      title="{{ SITENAME }} Full Atom Feed"
    />
    {% endif %} {% if FEED_ALL_RSS %}
    <link
      href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
      type="application/rss+xml"
      rel="alternate"
      title="{{ SITENAME }} Full RSS Feed"
    />
    {% endif %}

    <script src="{{ SITEURL }}/js/hyphenate.js" defer></script>

    <style type="text/css">
      {{ "css/style.css"|inline|safe }}
    </style>

    {% endblock head %}
  </head>

  <body>
    <div class="PageContainer">
      <header class="Toolbar">
        <h1><a href="{{ SITEURL }}">Steve Landey</a></h1>
        <div class="FlexSpace"></div>
        <nav class="Toolbar_Subsection">
          <ul>
            <li><a href="mailto:randos@steve.steveasleep.com">Email</a></li>
            <li><a href="https://blog.steveasleep.com/">Blog</a></li>
            <li>
              <a href="https://irskep.omg.lol">irskep.omg.lol (more links)</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>{% block content %} {% endblock %}</main>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-4517625-1"]);
      _gaq.push(["_trackPageview"]);

      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src =
          ("https:" == document.location.protocol
            ? "https://ssl"
            : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
