{% extends "base.html" %} {% block title %}{{ SITENAME }} - Home{%endblock%} {%
block content %}
<section>
  <div class="Admonition">
    <a href="/professional.html"
      >Prospective employers and recruiters click here</a
    >
  </div>
</section>
<section>
  <h2>
    <a href="https://en.wikipedia.org/wiki/Procedural_generation">Procgen</a>
    art projects
  </h2>
  <div class="Project">
    <div class="Project_Image">
      <a href="https://namegenerator.band"
        ><img src="/img/nav/namegeneratordotband.png"
      /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="https://namegenerator.band">namegenerator.band</a>
      </h3>
      <p>
        Uses <a href="https://www.tracery.io">Tracery</a> and some large word
        lists to generate some actually pretty good band names
      </p>
    </div>
  </div>
  <div class="Project">
    <div class="Project_Image">
      <a href="https://steveasleep.com/keplverse"
        ><img src="/img/nav/keplverse.png"
      /></a>
    </div>
    <div class="Project_Description">
      <h3><a href="https://steveasleep.com/keplverse">Keplverse</a></h3>
      <p>
        Explore an imaginary procgen universe of stars and planets using a
        Windows 95 digital telescope
      </p>
    </div>
  </div>
  <div class="Project">
    <div class="Project_Image">
      <a href="https://thisguitarpedaldoesnotexist.com"
        ><img src="/img/nav/pedalshop.png"
      /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="https://thisguitarpedaldoesnotexist.com"
          >This Guitar Pedal Does Not Exist</a
        >
      </h3>
      <p>
        Peruse a catalog of procedurally generated guitar pedals with random
        marketing copy
      </p>
    </div>
  </div>
</section>
<section>
  <h2>Apps</h2>
  <div class="Project">
    <div class="Project_Image">
      <a href="https://oscillatordrums.com/"
        ><img src="/img/nav/oscillator.png"
      /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="https://oscillatordrums.com/">Oscillator Drum Jams</a>
      </h3>
      <p>
        Companion app for a drum instruction book that makes it more fun to play
        along to exercises. Collaboration with
        <a href="https://jakewood.net">Jake Wood</a>.
      </p>
      <p>
        <a href="https://blog.steveasleep.com/introducing-oscillator-drum-jams"
          >Blog series about it</a
        >
      </p>
    </div>
  </div>
  <div class="Project">
    <div class="Project_Image">
      <a href="https://sendimals.com/"><img src="/img/nav/sendimals.png" /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="https://sendimals.com/">Sendimals</a>
      </h3>
      <p>
        Make funny creatures and share them over iMessage. Collaboration with
        <a href="https://www.kelsey-bass.com">Kelsey Bass</a>.
      </p>
    </div>
  </div>
</section>
<section>
  <h2>Music</h2>
  <div class="Project">
    <div class="Project_Image">
      <a href="https://quickfiction.band"
        ><img src="/img/nav/quickfiction.jpeg"
      /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="https://quickfiction.band">Quick Fiction</a>
      </h3>
      <p>A very cool pop punk band I play drums in!</p>
    </div>
  </div>
</section>
<section>
  <h2>Games</h2>
  <div class="Project">
    <div class="Project_Image m-margins">
      <a href="https://irskep.itch.io"><img src="/img/nav/itch.png" /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="https://irskep.itch.io">My itch.io page</a>
      </h3>
      <p>I make small games for fun and post them on Itch.</p>
    </div>
  </div>
  <div class="Project">
    <div class="Project_Image">
      <a href="/games.html"><img src="/img/nav/games2.png" /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="/games.html">A look back at old games</a>
      </h3>
      <p>Wanna see the weird stuff I made when I was 12 years old?</p>
    </div>
  </div>
</section>
<section>
  <h2>Other projects</h2>
  <div class="Project">
    <div class="Project_Image">
      <a href="https://browserboard.com"
        ><img src="/img/nav/browserboard.png"
      /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="https://browserboard.com">Browserboard</a>
      </h3>
      <p>
        Browserboard is a multiuser online whiteboard I made in 2020 and sold in
        2023. It’s still up and very good!
      </p>
    </div>
  </div>
  <div class="Project">
    <div class="Project_Image">
      <a href="https://github.com/Asana/locheck"
        ><img src="/img/nav/github.png"
      /></a>
    </div>
    <div class="Project_Description">
      <h3>
        <a href="https://github.com/Asana/locheck">locheck</a>
      </h3>
      <p>
        This is a linter for iOS and Android localization files I wrote to help
        make sure Asana doesn’t ship localization bugs.
      </p>
    </div>
  </div>
</section>
<section>
  <a href="/articles">Old blog</a>
</section>
{% endblock %}
