{% extends "base.html" %}
{%- from "macros.html" import post_header with context %}
{%- from "macros.html" import post_content with context %}

{%- block content %}
  <section id="content">

    {%- block content_title %}
      <!--<h2>Articles</h2>-->
    {%- endblock %}

    {%- set these_articles = articles_page.object_list %}
    {%- if not category %}
      {%- set these_articles = FIND_MAIN_PAGE_CATEGORY(categories) %}
    {%- endif %}
    {%- set first_article = these_articles[0] %}
    {%- set article = first_article %}
    <article class="article featured-article">
      {{- post_header(article) }}
      {{- post_content(article) }}
    </article>


    <ul id="post-list">
      {%- for article in these_articles[1:] %}
        <li>{{ post_header(article) }}</li>
      {%- endfor %}
    </ul>

  {%- include 'pagination.html' %}

  </section><!-- /#content -->
{%- endblock content %}
