{% extends "base.html" %}

{% block content %}
<article class="home-page">

{% block content_title %}
<div class="promo">
  <div>Coolest thing right now:</div>
  <iframe frameborder="0" src="https://itch.io/embed/137518?bg_color=000000&amp;fg_color=ffcb00&amp;link_color=a38200&amp;border_color=000000" width="552" height="167"></iframe>
</div>
<header class="article-header article-header__index">
    <h1>Posts</h1>
</header>
{% endblock %}

<ul class="article-summary-list">
  {% for article in articles_page.object_list %}
    <li>
      <header class="article-header">
        <h2 class="entry-title">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
            {{ article.title }}
          </a>
        </h2>

        <div class="post-info">
          {% if article.date %}
            <time class="published" datetime="{{ article.date.isoformat() }}">
              {{ article.locale_date }}
            </time>
          {% endif %}
        </div>

      </header>
      <div class="entry-content">
        {{ article.summary }}
        <p class="read-more">
          <a href="{{ SITEURL }}/{{ article.url }}">Read &rarr;</a>
        </p>
      </div>
    </li>
  {% endfor %}
</ul>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

</article>
{% endblock content %}
