{% extends "base.html" %}
{% from "macros.html" import post_header with context %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block content %}
  <section id="content" class="body">
    <article class="page">
      {{ post_header(page) }}
      <div class="page-content hyphenate">
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(page) }}

        {{ page.content }}
      </div>
    </article>
  </section>
{% endblock %}
