/* reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  --footer-border: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

footer ol,
footer ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

ul {
  list-style-type: disc;
  margin-top: 1em;
  line-height: 145%;
  padding-left: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

/* basic fonts */

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1, "kern" 1;
  font-family: "Lora", "Palatino", "Baskerville Old Face", Garamond,
    "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
address {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

/* specific fonts */

address {
  font-size: 14px;
  line-height: 1.4em;
}

h1 {
  font-size: 1.8rem;
  line-height: 2em;
}

h2 {
  font-size: 1rem;
  line-height: 2em;
}

h3,
section.WorkHistory aside,
section.Education aside {
  font-size: 1.4rem;
  line-height: 1em;
  margin-top: 1.4rem;
}

section.PersonalProjects aside {
  margin-top: 1.6rem;
}

h4 {
  font-style: italic;
  font-size: 1.1em;
  margin-top: 0.5rem;
}

p {
  margin-top: 1rem;
  line-height: 145%;
  hyphens: auto;
  -webkit-hyphens: auto;
  text-align: justify;
}

/* layout */

header {
  padding: 1rem 2rem 0 2rem;
}

article {
  margin: 2rem auto 4rem 0;
  max-width: 41rem;
  padding: 0 2rem;
}

section {
  margin-top: 2rem;
  border-top: 0.5px solid black;
}

aside {
  text-align: right;
  padding-left: 1rem;
}

.SplitHeading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
