<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Steve Landey's Résumé</title>
    <!-- <meta name="description" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap"
      rel="stylesheet"
    />

    <style>
      header,
      footer {
        position: relative;
        width: 100%;
      }
    </style>

    <style id="style">
      {{ stylesheets[0].css|indent(6, True)|safe }}
    </style>

    <script>
      // [{name: string, css: string}]
      window.STYLESHEETS = {{ stylesheets|as_json }};
    </script>
  </head>

  <body>
    <header>
      <nav>
        CSS theme:
        <select name="theme" id="theme-select"></select>
      </nav>
    </header>

    <script>
      const themeSelectEl = document.querySelector("#theme-select");
      const styleEl = document.querySelector("#style");
      themeSelectEl.innerHTML = window.STYLESHEETS.map((ss, i) => {
        return `<option value="${ss.name}">${ss.name}</option>\n`;
      }).join("\n");

      function setStylesheet(stylesheet) {
        styleEl.innerHTML = stylesheet.css;
        window.location.hash = stylesheet.name;
        themeSelectEl.value = stylesheet.name;
      }

      themeSelectEl.addEventListener("change", (e) => {
        const ss = window.STYLESHEETS.find((s) => s.name === e.target.value);
        if (!ss) return;
        setStylesheet(ss);
      });

      for (const stylesheet of window.STYLESHEETS) {
        if (`#${stylesheet.name}` === window.location.hash) {
          setStylesheet(stylesheet);
        }
      }
    </script>

    <article class="Resume">
      <div class="SplitHeading">
        <h1>{{ basics.name }}</h1>
        <address>
          {{ basics.location.city }}
          <br />
          <a href="mailto:{{ basics.email|safe }}">{{ basics.email|safe }}</a>
          <br />
          <a href="{{ basics.url|safe }}">{{ basics.url|safe }}</a>
        </address>
      </div>

      <section class="RoleFit">
        <h2>Role Fit</h2>
        <p>{{ basics.summary }}</p>
      </section>

      <section class="WorkHistory">
        <h2>Work History</h2>

        {% for job in work %}
        <div class="SplitHeading">
          <h3>{{ job.name|safe }}</h3>
          <aside>{{ job|date_range }}</aside>
        </div>
        <h4>{{ job.position|safe }}</h4>
        {{ job.summary|md }} {% endfor %}
      </section>

      <section class="PersonalProjects">
        <h2>Personal Projects</h2>

        {% for project in projects %}
        <div class="SplitHeading">
          <h3>{{ project.name|safe }}</h3>
          <aside>
            {% if project.url|safe %}<a href="{{ project.url|safe }}"
              >{{ project.url|safe }}</a
            >
            {% endif %}({{ project|date_range }})
          </aside>
        </div>
        {{ project.description|md }} {% endfor %}
      </section>

      <section class="Education">
        <h2>Education</h2>
        {% for ed in education %}
        <div class="SplitHeading">
          <h3>{{ ed.institution|safe }}</h3>
          <aside>{{ ed|date_range }}</aside>
        </div>
        {{ ed.summary|md }} {% endfor %}
      </section>

      <section class="Skills">
        <h2>Skills for the Keyword Filters</h2>

        {% for skillset in skills %}
        <div class="SplitHeading">
          <h3>{{ skillset.name|safe }}</h3>
        </div>
        <p>{{ skillset.keywords|comma_list }}</p>
        {% if skillset.text %}{{ skillset.text|md }}{% endif %}{% endfor %}
      </section>

      {% for appendix in appendices %}
      <section class="Location">
        <h2>{{ appendix.title }}</h2>
        {{ appendix.text|md }}
      </section>
      {% endfor %}
    </article>

    <article>
      <a href="/downloads/Steve_Landey_resume.pdf"
        >PDF version of this résumé</a
      >
    </article>
  </body>
</html>
