<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Steve Landey's Résumé</title>
    <!-- <meta name="description" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap" rel="stylesheet">

    <style>
{{ css|indent(4, True)|safe }}
    </style>
  </head>

  <body>
    {% if body %}
      {{ body }}
    {% else %}
      <article class="Resume">
        <div class="SplitHeading">
          <h1>Steve Landey</h1>
          <address>
            San Francisco, CA
            <br>
            <a href="mailto:steve@steveasleep.com">steve@steveasleep.com</a>
            <br>
            <a href="https://steveasleep.com">https://steveasleep.com</a>
          </address>
        </div>

        <section class="WorkHistory">
          <h2>Work History</h2>

          {% for entry in work_history %}
            <div class="SplitHeading">
              <h3>{{ entry.title|safe }}</h3>
              <aside>{{ entry.years }}</aside>
            </div>
            <h4>{{ entry.subtitle|safe }}</h4>
            <p>{{ entry.description|safe }}</p>
          {% endfor %}
        </section>

        <section class="PersonalProjects">
          <h2>Personal Projects</h2>

          {% for entry in personal_projects %}
            <div class="SplitHeading">
              <h3>{{ entry.title|safe }}</h3>
              <aside>{% if entry.url %}<a href="{{ entry.url|safe }}">{{ entry.url|safe }}</a> {% endif %}({{ entry.years }})</aside>
            </div>
            <p>{{ entry.description|safe }}</p>
          {% endfor %}
        </section>

        <section class="Education">
          <h2>Education</h2>
          {% for entry in education %}
            <div class="SplitHeading">
              <h3>{{ entry.title|safe }}</h3>
              <aside>{% if entry.url %}<a href="{{ entry.url|safe }}">{{ entry.url|safe }}</a> {% endif %}{{ entry.years }}</aside>
            </div>
            <p>{{ entry.description|safe }}</p>
          {% endfor %}
        </section>

      {% endif %}
    </article>

    <article>
      <a href="/downloads/Steve_Landey_resume.pdf">PDF version of this résumé</a>
    </article>
  </body>
</html>