/* reset */
html {
  --bg: white;
  --fg: black;
  --link: red;
  --h1: var(--fg);
  --h2: var(--fg);
  --h3: var(--fg);
  --h4: var(--fg);
  --year: var(--h4);
  --leftw: var(20vw);
  --footer-border: var(--fg);

  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--fg);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* basic fonts */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1, "kern" 1;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

h1, h2, address {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

a, a:visited, a:active {
  color: var(--link);
}

/* specific fonts */

h1 {
  color: var(--h1);
  font-weight: bolder;
  font-size: 4rem;
}

h2 {
  color: var(--h2);
  font-size: 1rem;
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
  font-style: italic;
}

aside {
  color: var(--year);
}

p {
  line-height: 145%;
  hyphens: auto;
  -webkit-hyphens: auto;
  text-align: justify;
}

/* layout */

h3, aside, p, address {
  margin-top: 1rem;
}

h1 {
  width: 30rem;
}

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 2rem;
}

section {
  margin-top: 4rem;
}

section:first-of-type {
  margin-top: 2rem;
}

p {
  margin-bottom: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

h4 {
  margin-top: 0.5rem;
}

article {
  padding: 1rem;
  width: 100%;
}

.SplitHeading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media(min-width: 55rem) {
  section {
    margin-top: 0;
  }

  h2 {
    margin-left: -10rem;
    padding: 0 45rem 0.5rem 0;
    width: 53rem;
  }

  article {
    margin-left: 10rem;
    width: 45rem;
  }
}