#set par(justify: true, leading: 4pt)
#set text(font: "Charter", size: 10pt)

#show heading.where(
  level: 2
): it => block(width: 100%, below: 20pt)[
  #line(length: 100%)
  #text(font: "Fira Sans", size: 12pt, weight: "regular", it.body)
]

#show heading.where(
  level: 3
): it => block(width: 100%, below: 0pt)[
  #text(font: "Charter", size: 11pt, weight: "bold", it.body)
]

#show heading.where(
  level: 4
): it => block(width: 100%, above: 0pt, below: 11pt)[
  #set par(justify: false, leading: 4pt)
  #text(font: "Charter", size: 10pt, weight: "extralight", style: "italic", it.body)
]

#let split(_l, _r) = block(
  width: 100%,
  below: 6pt,
  grid(columns: (1fr, auto), align(left, _l), align(bottom, _r)))
#let split_project(_l, _r) = grid(
  columns: (1fr, auto),
  align(left, _l),
  align(bottom, text(size: 11pt, _r)))

#grid(
  columns: (1fr, auto),
    align(left)[= #text(font: "Fira Sans", size: 22pt, weight: "regular")[{{ basics.name }}]],
  align(right)[
    {{ basics.location.city }} \
    #link("mailto:{{ basics.email }}")[{{ basics.email|typst_text }}] \
    #link("{{ basics.url }}")[{{ basics.url}}]  
  ])

== Role Fit <role-fit>
{{ basics.summary|typst_text }}

== Work History <work-history>
#columns(2)[
{% for job in work -%}
#split([=== {{ job.name }}], "{{ job|date_range }}")
==== {{ job.position|typst_text }}
{{ job.summary|typst_text }}
{%- if job.breakAfter %}
#colbreak()
{%- endif %}
{% endfor %}

== Education
{% for ed in education -%}
#split([=== {{ ed.institution }}], "{{ ed|date_range }}")
{{ ed.summary|typst_text }}
{%- endfor %}
]

#pagebreak()
== Personal Projects
{% for project in projects -%}
#split_project([=== {{ project.name}}], emph[{{ project.url }} ({{ project|date_range }})])
{{ project.description|typst_text }}
{% endfor %}

== Skills for the Keyword Filters

#show heading.where(
  level: 3
): it => block(width: 100%, below: 11pt)[
  #text(font: "Charter", size: 11pt, weight: "bold", it.body)
]

#grid(
  columns: (1fr, 1fr),
  gutter: 11pt,
{% for skillset in skills -%}
  [
  === {{ skillset.name }}
  {{ skillset.keywords|typst_comma_list }}

  {% if skillset.text %}{{ skillset.text|typst_text }}{% endif -%}
  ],
{% endfor %}
)

{% for appendix in appendices -%}
== {{ appendix.title }}

#columns(2)[
{{ appendix.text|typst_text(literal_linebreaks=True) }}
]
{% endfor %}