/* re-add when ready */
canvas {
  display: none; }

/* base styles */
html {
  font-size: 120%;
  line-height: 135%;
  font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: #282828; }

a, a:visited, a:active {
  color: #3c3c50; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #3c3c50;
  text-decoration: none; }
  h1 a:visited, h1 a:active, h2 a:visited, h2 a:active, h3 a:visited, h3 a:active, h4 a:visited, h4 a:active, h5 a:visited, h5 a:active, h6 a:visited, h6 a:active {
    color: #3c3c50;
    text-decoration: none; }

p, ul, ol, pre {
  margin-bottom: 0.75rem; }

pre {
  font-size: 0.8rem;
  line-height: 1rem;
  background-color: #fafafa;
  padding: 0.25rem 0;
  font-family: Inconsolata, monospace, sans-serif; }

article ul {
  list-style-type: disc; }

/* layout */
#banner, #menu, #content, #pagefooter {
  width: 30rem;
  margin: auto; }

#banner {
  margin-top: 2em;
  margin-bottom: 2em; }
  #banner h1 {
    font-size: 2rem;
    line-height: 2.7rem;
    font-family: "Playfair Display SC", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #banner a {
    text-decoration: none; }

#menu {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  #menu ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  #menu li {
    float: left; }
  #menu li + li {
    margin-left: 1em; }

#content > h2 {
  margin-bottom: 1rem; }

.featured-article {
  margin-bottom: 2rem; }

#post-list li {
  margin-bottom: 1em; }

#pagefooter {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 1rem; }

.article-header:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }
.article-header .entry-title {
  width: 20rem;
  float: left;
  margin-top: 0; }
.article-header .post-info time {
  display: block;
  float: right; }
.article-header h1 {
  font-size: 1.2rem; }

.page h1 {
  border-top: 1px solid #a8a8a8;
  padding-top: 0.75rem;
  font-weight: normal;
  font-family: "Playfair Display SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem; }
.page h2 {
  font-size: 1.2rem; }
