/* re-add when ready */
canvas {
  display: none; }

/* base styles */
html {
  font-size: 120%;
  line-height: 135%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background-color: #f0f0f0;
  color: #282828; }
  html strong {
    font-weight: normal; }

a, a:visited, a:active {
  color: #3c3c50; }

a:hover {
  color: #5050fa; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #3c3c50;
  text-decoration: none; }
  h1 a:visited, h1 a:active, h1 a:hover, h2 a:visited, h2 a:active, h2 a:hover, h3 a:visited, h3 a:active, h3 a:hover, h4 a:visited, h4 a:active, h4 a:hover, h5 a:visited, h5 a:active, h5 a:hover, h6 a:visited, h6 a:active, h6 a:hover {
    color: #3c3c50;
    text-decoration: underline; }

p, ul, ol, pre {
  margin-bottom: 0.75rem; }

pre, code, kbd, samp {
  font-family: Inconsolata, monospace, sans-serif;
  background-color: #fafafa; }

code {
  color: #505050; }

pre {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding: 0.5rem 0.5rem; }

article ul {
  list-style-type: disc; }
  article ul li {
    margin-bottom: 0.5rem; }

article iframe, table {
  margin-bottom: 0.75rem; }

table th {
  text-align: left;
  font-weight: normal;
  padding-right: 1rem; }
table td {
  font-weight: lighter;
  padding-right: 1rem; }

p {
  text-rendering: optimizeLegibility; }

article blockquote {
  margin-left: 2em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 1.2rem; }
  article blockquote strong {
    font-weight: normal; }

.left {
  float: left;
  padding-right: 1rem; }

.right {
  float: right;
  padding-left: 1rem; }

.center {
  display: block;
  margin: auto; }

/* layout */
#pagecontainer {
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem; }

header#banner, nav#menu, section#content, footer#pagefooter {
  width: calc(100% - 2rem); }

#banner {
  margin-top: 2em;
  margin-bottom: 2em; }
  #banner h1 {
    font-size: 2rem;
    line-height: 2.7rem;
    font-family: "Playfair Display SC", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #banner a {
    text-decoration: none; }

#menu {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  #menu ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  #menu li {
    float: left; }
  #menu li {
    margin-right: 1em; }

#content > h2 {
  margin-bottom: 1rem; }

.featured-article {
  margin-bottom: 2rem; }

#pagefooter {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 1rem; }
  #pagefooter .social-links {
    text-align: right;
    font-size: 0.8rem;
    float: right; }

.article-header {
  margin-bottom: 1rem; }
  .article-header:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  .article-header .entry-title {
    width: 100%;
    max-width: 20rem;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0rem;
    font-weight: normal; }
  .article-header .post-info time {
    display: block;
    float: right;
    font-family: "Playfair Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal; }

.article h1 {
  font-size: 1.2rem;
  font-weight: bold; }
.article h2 {
  font-size: 1.2rem; }
.article .entry-content a {
  color: #3c3c8c; }
  .article .entry-content a:hover {
    color: #5050fa; }

.page h1 {
  border-top: 1px solid #a8a8a8;
  padding-top: 0.75rem;
  font-weight: normal;
  font-family: "Playfair Display SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: bold; }
.page h2 {
  font-size: 1.2rem;
  font-weight: bold; }
.page h3 {
  font-size: 1.2rem; }
.page .page-content a {
  color: #3c3c8c; }
  .page .page-content a:hover {
    color: #5050fa; }
